---
import TabNav from './TabNav.astro';
import VenueTable from './VenueTable.astro';
import InfoBanner from './InfoBanner.astro';
---

<div class="scheduler">
  <h1>Coachella Rides</h1>
  
  <InfoBanner />

  <TabNav days={["Fri", "Sat", "Sun"]} />

  <VenueTable />
</div>

<style>
  .scheduler {
    padding: 0.5rem; /* Reduced padding on mobile */
    max-width: 1000px;
    margin: 0 auto;
  }
  @media (min-width: 600px) {
    .scheduler {
      padding: 2rem;
    }
  }
  h1 {
    text-align: center;
    color: var(--dark-charcoal);
  }
</style>

