---
import TabNav from './TabNav.astro';
import VenueTable from './VenueTable.astro';
import InfoBanner from './InfoBanner.astro';
---

<div class="scheduler">
  <h1>Coachella Rides</h1>
  
  <InfoBanner slug="inbound" />

  <TabNav days={["Fri", "Sat", "Sun"]} />

  <div class="scheduler-wrapper">
    <VenueTable />
  </div>

</div>


